
.footer {
    box-sizing: border-box;
    background-color: none;
    max-width: 800px;
    max-height: 300px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    color: rgb(167, 255, 143);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}